sudo apt install python3-pip
sudo apt install python3.14-venv
python3 -m venv path/to/venv
source path/to/venv/bin/activate
pip install package_name
pip install pytest
pytest

pip install -r requirements.txt
pytest
